/*this is for all movie page header tag*/
header {
    top: 0%;
    background-color:#3e0999;
    min-width:100%;
    position: fixed;
    left:0%;
    font-size:30px;
    height:7%;
}
/*this is for all movie page footer tag*/
footer{
    bottom:0%;
    background-color:#949c9b;
    min-width:100%;
    position:fixed;
    left:0%;
    font-size:22px;
    height:7%
}
/*this is for all movie page header's img tag*/
img {
    top:1%;
    height: 5%;
    position: fixed;
    left:11%;
}
/*this is for which movie page have table tag*/
table{
    height:5%;
    position:fixed;
    left:7%;
    top:25%;
    font-size:30px;
}
/*this is for all movie page 'movies' as link inside the header*/ 
.movie{
	top:1%;
    position:fixed;
    font-size:30px;
    color:#fcfafa;
    left:87%;
}
/*this is for all movie page movie cruiser heading that is inside header tag*/
.movie-Cruiser{
	color:#fcfafa;
    top:0%;
    position:fixed;
    left:1%;
	font-size:27px;
}
/*this is for which page have 'Movies'as heading*/
.movie-name{
	color:#0f0f0f;
    top:13%;
    position:fixed;
    left:8%;
	font-size:30px;
}
/*this is for which page have 'favorites'as heading*/
.favorites-name{
	color:#0f0f0f;
    top:15%;
    position:fixed;
    left:8%;
	font-size:30px;	
}
/*this is for all movie page 'favorites' as link inside the header*/
.favorites{
	top:1%;
    position:fixed;
    font-size:30px;
    color:#fcfafa;
    left:94%;
}
/*this is for save button in edit-movie.html page*/
.button {
    background-color:#190c91;
    position:fixed;
    left:5.5%;
    font-size:30px;
    height:5%;
    width:7%;
    color:#f3f2f7;
    border:none;
}
/*this is for edit-movie-ststus.html page*/
.saved-successfully{
    top:22%;
	position:fixed;
	left:7%;
	font-size:26px;
	color:#2a8f0b;
}
/*this is for edit-movie-ststus.html page*/
.movie-status{
	top:12%;
	position:fixed;
	left:7%;
	font-size:40px;
	color:#111211;
}
/*this is for movie-list-customer-notification.html page*/
.movie-favorite-successfully{
	top:16%;
	position:fixed;
	left:30%;
	font-size:30px;
	color:#2a8f0b;
}
/*this is for favorites.html and favorites-notification.html page*/
.no-of-favorite{
	bottom:40%;
	position:fixed;
	left:7%;
	font-size:30px;
	color:#111211;
}
/*this is for favorites-notification.html page*/
.removed-successfully{
	top:18%;
	position:fixed;
	left:14%;
	font-size:33px;
	color:#2a8f0b;
	
}
/*this is for favorites-empty.html page*/
.add-to-favorite{
	top:20%;
	position:fixed;
	left:7%;
	font-size:30px;
    color:#95a398;	
}
/*this is for edit-movie.html page*/
.edit-movie{
	height:5%;
	position:fixed;
	left:6%;
	top:14%;
	color:#1a1c1b;	
}
/*this is for edit-movie.html page*/
.edit-table{
	left:5.5%;
}

